<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">ROCODE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <select class="form-select">
          <option selected>Order by...</option>
          <option value="name">Name</option>
          <option value="city">City</option>
          <option value="gender">Gender</option>
        </select>
      </div>
      <div class="col">
        <select class="form-select">
          <option>ASC/DESC</option>
          <option value="asc" selected>ASC</option>
          <option value="desc">DESC</option>
        </select>
      </div>
    </div>
  </div>

  <table class="table mt-3">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of []">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
